##### Amazon India – Data Understanding & Initial Exploration

In [86]:
import pandas as pd
import numpy as np

In [87]:
df = pd.read_csv("../data/raw/amazon_india_2015.csv")
df.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,True,Republic Day Sale,5.0,Delivered,1,2015,1,0.19,True,4.7
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.5,Delivered,1,2015,1,0.20,True,4.1
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,True,Republic Day Sale,NaN,Delivered,1,2015,1,0.17,True,3.3
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,"21,947.26",0.00,...,False,NaN,3.0,Delivered,1,2015,1,0.22,True,3.5
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,FALSE,NaN,4.0,Delivered,1,2015,1,0.20,True,4.1

In [89]:
df.shape

(33165, 34)

In [90]:
df.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33165 entries, 0 to 33164
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          33165 non-null  object
 1   order_date              33165 non-null  object
 2   customer_id             33165 non-null  object
 3   product_id              33165 non-null  object
 4   product_name            33165 non-null  object
 5   category                33165 non-null  object
 6   subcategory             33165 non-null  object
 7   brand                   33165 non-null  object
 8   original_price_inr      33165 non-null  object
 9   discount_percent        33165 non-null  float64
 10  discounted_price_inr    33165 non-null  float64
 11  quantity                33165 non-null  int64
 12  subtotal_inr            33165 non-null  float64
 13  delivery_charges        30511 non-null  float64
 14  final_amount_inr        33165 non-null  float64
 15  customer_city           33165 non-null  object
 16  customer_state          33165 non-null  object
 17  customer_tier           33165 non-null  object
 18  customer_spending_tier  33165 non-null  object
 19  customer_age_group      29189 non-null  object
 20  payment_method          33165 non-null  object
 21  delivery_days           33165 non-null  object
 22  delivery_type           33165 non-null  object
 23  is_prime_member         33165 non-null  object
 24  is_festival_sale        33165 non-null  object
 25  festival_name           10584 non-null  object
 26  customer_rating         23196 non-null  object
 27  return_status           33165 non-null  object
 28  order_month             33165 non-null  int64
 29  order_year              33165 non-null  int64
 30  order_quarter           33165 non-null  int64
 31  product_weight_kg       33165 non-null  float64
 32  is_prime_eligible       33165 non-null  object
 33  product_rating          33165 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 8.6+ MB

In [92]:
df.isnull().sum()

transaction_id                0
order_date                    0
customer_id                   0
product_id                    0
product_name                  0
category                      0
subcategory                   0
brand                         0
original_price_inr            0
discount_percent              0
discounted_price_inr          0
quantity                      0
subtotal_inr                  0
delivery_charges           2654
final_amount_inr              0
customer_city                 0
customer_state                0
customer_tier                 0
customer_spending_tier        0
customer_age_group         3976
payment_method                0
delivery_days                 0
delivery_type                 0
is_prime_member               0
is_festival_sale              0
festival_name             22581
customer_rating            9969
return_status                 0
order_month                   0
order_year                    0
order_quarter                 0
product_weight_kg             0
is_prime_eligible             0
product_rating                0
dtype: int64

In [93]:
df_1 = pd.read_csv("../data/raw/amazon_india_2016.csv")
df_1.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2016_00000001,2016-01-27,CUST_2016_00002571,PROD_000124,Apple iPhone SE 16GB White,Electronics,Smartphones,Apple,101945.03,0.00,...,False,NaN,NaN,Delivered,1,2016,1,0.23,True,4.6
1,TXN_2016_00000002,2016-01-07,CUST_2016_00003513,PROD_001612,Apple Pavilion 8GB RAM Silver,Electronics,Laptops,Apple,52750.75,14.72,...,False,NaN,NaN,Delivered,1,2016,1,2.69,True,3.7
2,TXN_2016_00000003,2016-01-28,CUST_2015_00001993,PROD_001751,Realme Slate 4GB RAM Black,Electronics,Tablets,Realme,18238.6,0.00,...,False,NaN,5.0,Delivered,1,2016,1,0.59,True,3.9
3,TXN_2016_00000004,25-01-2016,CUST_2016_00003593,PROD_000154,Samsung Galaxy J7 Prime 16GB Gold,Electronics,Smartphones,Samsung,33118.39,44.96,...,True,Republic Day Sale,4.5,Delivered,1,2016,1,0.17,TRUE,3.4
4,TXN_2016_00000005,2016-01-26,CUST_2016_00015048,PROD_001710,Lenovo Tab M10 8GB RAM Black,Electronics,Tablets,Lenovo,59718.16,49.77,...,True,Republic Day Sale,NaN,Delivered,1,2016,1,0.49,True,4.1

In [94]:
df_1.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [95]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55275 entries, 0 to 55274
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          55275 non-null  object
 1   order_date              55275 non-null  object
 2   customer_id             55275 non-null  object
 3   product_id              55275 non-null  object
 4   product_name            55275 non-null  object
 5   category                55275 non-null  object
 6   subcategory             55275 non-null  object
 7   brand                   55275 non-null  object
 8   original_price_inr      55275 non-null  object
 9   discount_percent        55275 non-null  float64
 10  discounted_price_inr    55275 non-null  float64
 11  quantity                55275 non-null  int64
 12  subtotal_inr            55275 non-null  float64
 13  delivery_charges        50851 non-null  float64
 14  final_amount_inr        55275 non-null  float64
 15  customer_city           55275 non-null  object
 16  customer_state          55275 non-null  object
 17  customer_tier           55275 non-null  object
 18  customer_spending_tier  55275 non-null  object
 19  customer_age_group      48645 non-null  object
 20  payment_method          55275 non-null  object
 21  delivery_days           55275 non-null  object
 22  delivery_type           55275 non-null  object
 23  is_prime_member         55275 non-null  object
 24  is_festival_sale        55275 non-null  object
 25  festival_name           17460 non-null  object
 26  customer_rating         38511 non-null  object
 27  return_status           55275 non-null  object
 28  order_month             55275 non-null  int64
 29  order_year              55275 non-null  int64
 30  order_quarter           55275 non-null  int64
 31  product_weight_kg       55275 non-null  float64
 32  is_prime_eligible       55275 non-null  object
 33  product_rating          55275 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 14.3+ MB

In [96]:
df_2 = pd.read_csv("../data/raw/amazon_india_2025.csv")
df_2.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2025_00000001,2025-01-08,CUST_2025_00005600,PROD_000627,Oppo F11 Pro 128GB Black,Electronics,Smartphones,Oppo,10234.12,0.00,...,False,NaN,4.5,Delivered,1,2025,1,0.15,True,4.4
1,TXN_2025_00000002,01/15/2025,CUST_2022_00027099,PROD_001699,Samsung Slate 4GB RAM Silver,Electronics,Tablets,Samsung,38241.08,0.00,...,False,NaN,NaN,Returned,1,2025,1,0.64,TRUE,3.4
2,TXN_2025_00000003,2025-01-26,CUST_2021_00027917,PROD_001242,Apple iPhone 16 Plus 64GB Black,Electronics,Smartphones,Apple,121974.26,32.04,...,True,Republic Day Sale,NaN,Returned,1,2025,1,0.18,True,3.4
3,TXN_2025_00000004,2025-01-04,CUST_2025_00004184,PROD_000979,Samsung Galaxy S22+ 128GB White,Electronics,Smartphones,Samsung,59075.7,0.00,...,False,NaN,3.5,Delivered,1,2025,1,0.24,False,3.3
4,TXN_2025_00000005,2025-01-03,CUST_2025_00005205,PROD_001876,Apple Watch Premium,Electronics,Smart Watch,Apple,74269.31,0.00,...,False,NaN,5.0/5.0,Returned,1,2025,1,0.05,TRUE,4.1

In [97]:
df_2.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [98]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77385 entries, 0 to 77384
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   transaction_id          77385 non-null  object
 1   order_date              77385 non-null  object
 2   customer_id             77385 non-null  object
 3   product_id              77385 non-null  object
 4   product_name            77385 non-null  object
 5   category                77385 non-null  object
 6   subcategory             77385 non-null  object
 7   brand                   77385 non-null  object
 8   original_price_inr      77385 non-null  object
 9   discount_percent        77385 non-null  float64
 10  discounted_price_inr    77385 non-null  float64
 11  quantity                77385 non-null  int64
 12  subtotal_inr            77385 non-null  float64
 13  delivery_charges        71189 non-null  float64
 14  final_amount_inr        77385 non-null  float64
 15  customer_city           77385 non-null  object
 16  customer_state          77385 non-null  object
 17  customer_tier           77385 non-null  object
 18  customer_spending_tier  77385 non-null  object
 19  customer_age_group      68089 non-null  object
 20  payment_method          77385 non-null  object
 21  delivery_days           77385 non-null  object
 22  delivery_type           77385 non-null  object
 23  is_prime_member         77385 non-null  object
 24  is_festival_sale        77385 non-null  object
 25  festival_name           23635 non-null  object
 26  customer_rating         53921 non-null  object
 27  return_status           77385 non-null  object
 28  order_month             77385 non-null  int64
 29  order_year              77385 non-null  int64
 30  order_quarter           77385 non-null  int64
 31  product_weight_kg       77385 non-null  float64
 32  is_prime_eligible       77385 non-null  object
 33  product_rating          77385 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 20.1+ MB

- Merged all the 11 CSV to one CSV

In [99]:
import glob

file_paths = glob.glob("../data/raw/amazon_india_*.csv")
dfs = []

for file in file_paths:
    temp_df = pd.read_csv(file)
    dfs.append(temp_df)

df = pd.concat(dfs, ignore_index=True)

In [100]:
df.shape

(1127609, 34)

In [101]:
df.tail()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
1127604,TXN_2025_00019019_DUP,2025-04-07,CUST_2022_00004500,PROD_000136,Samsung Galaxy S7 Edge 16GB Blue,Electronics,Smartphones,Samsung,67658.04,0.00,...,False,NaN,3.5,Delivered,4,2025,2,0.16,True,3.4
1127605,TXN_2025_00053859_DUP,09-10-2025,CUST_2025_00013666,PROD_000527,Samsung Galaxy A50 64GB White,Electronics,Smartphones,Samsung,19905.88,24.29,...,False,NaN,3.5 stars,Delivered,10,2025,4,0.20,False,4.2
1127606,TXN_2025_00030006_DUP,2025-06-29,CUST_2025_00011941,PROD_000839,Samsung Galaxy Note 21 256GB White,Electronics,Smartphones,Samsung,75655.18,30.26,...,True,Back to School,4.0,Delivered,6,2025,2,0.22,True,4.1
1127607,TXN_2025_00066716_DUP,2025-11-21,CUST_2025_00000199,PROD_001581,ASUS Gaming 4GB RAM Black,Electronics,Laptops,ASUS,125461.24,0.00,...,False,NaN,4.5,Delivered,11,2025,4,2.57,False,3.0
1127608,TXN_2025_00039367_DUP,2025-07-26,CUST_2025_00019685,PROD_001191,Realme Realme C55 128GB Blue,Electronics,Smartphones,Realme,15852.16,0.00,...,False,NaN,4.0,Delivered,7,2025,3,0.24,True,3.7

In [102]:
df.head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
0,TXN_2015_00000001,2015-01-25,CUST_2015_00003884,PROD_000021,Samsung Galaxy S6 16GB Black,Electronics,Smartphones,Samsung,123614.29,27.91,...,True,Republic Day Sale,5.0,Delivered,1,2015,1,0.19,True,4.7
1,TXN_2015_00000002,2015-01-05,CUST_2015_00011709,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,False,NaN,4.5,Delivered,1,2015,1,0.20,True,4.1
2,TXN_2015_00000003,2015-01-24,CUST_2015_00004782,PROD_000039,Samsung Galaxy Note 5 64GB Black,Electronics,Smartphones,Samsung,97644.25,46.93,...,True,Republic Day Sale,NaN,Delivered,1,2015,1,0.17,True,3.3
3,TXN_2015_00000004,2015-01-28,CUST_2015_00008105,PROD_000085,Motorola Moto G (3rd Gen) 16GB Black,Electronics,Smartphones,Motorola,"21,947.26",0.00,...,False,NaN,3.0,Delivered,1,2015,1,0.22,True,3.5
4,TXN_2015_00000005,2015-01-31,CUST_2015_00002955,PROD_000055,OnePlus OnePlus 2 16GB White,Electronics,Smartphones,OnePlus,54731.86,0.00,...,FALSE,NaN,4.0,Delivered,1,2015,1,0.20,True,4.1

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1127609 entries, 0 to 1127608
Data columns (total 34 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1127609 non-null  object
 1   order_date              1127609 non-null  object
 2   customer_id             1127609 non-null  object
 3   product_id              1127609 non-null  object
 4   product_name            1127609 non-null  object
 5   category                1127609 non-null  object
 6   subcategory             1127609 non-null  object
 7   brand                   1127609 non-null  object
 8   original_price_inr      1127609 non-null  object
 9   discount_percent        1127609 non-null  float64
 10  discounted_price_inr    1127609 non-null  float64
 11  quantity                1127609 non-null  int64
 12  subtotal_inr            1127609 non-null  float64
 13  delivery_charges        1037408 non-null  float64
 14  final_amount_inr        1127609 non-null  float64
 15  customer_city           1127609 non-null  object
 16  customer_state          1127609 non-null  object
 17  customer_tier           1127609 non-null  object
 18  customer_spending_tier  1127609 non-null  object
 19  customer_age_group      992294 non-null   object
 20  payment_method          1127609 non-null  object
 21  delivery_days           1127609 non-null  object
 22  delivery_type           1127609 non-null  object
 23  is_prime_member         1127609 non-null  object
 24  is_festival_sale        1127609 non-null  object
 25  festival_name           349873 non-null   object
 26  customer_rating         785913 non-null   object
 27  return_status           1127609 non-null  object
 28  order_month             1127609 non-null  int64
 29  order_year              1127609 non-null  int64
 30  order_quarter           1127609 non-null  int64
 31  product_weight_kg       1127609 non-null  float64
 32  is_prime_eligible       1127609 non-null  object
 33  product_rating          1127609 non-null  float64
dtypes: float64(7), int64(4), object(23)
memory usage: 292.5+ MB

In [104]:
df.isnull().sum()

transaction_id                 0
order_date                     0
customer_id                    0
product_id                     0
product_name                   0
category                       0
subcategory                    0
brand                          0
original_price_inr             0
discount_percent               0
discounted_price_inr           0
quantity                       0
subtotal_inr                   0
delivery_charges           90201
final_amount_inr               0
customer_city                  0
customer_state                 0
customer_tier                  0
customer_spending_tier         0
customer_age_group        135315
payment_method                 0
delivery_days                  0
delivery_type                  0
is_prime_member                0
is_festival_sale               0
festival_name             777736
customer_rating           341696
return_status                  0
order_month                    0
order_year                     0
order_quarter                  0
product_weight_kg              0
is_prime_eligible              0
product_rating                 0
dtype: int64

In [105]:
df.to_csv("../data/raw/amazon_india_2015_2025.csv" , index=False)