In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("../data/cleaned/amazon_india_2015_2025_cleaned.csv")
df.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091187 entries, 0 to 1091186
Data columns (total 34 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   transaction_id          1091187 non-null  object
 1   order_date              1091187 non-null  object
 2   customer_id             1091187 non-null  object
 3   product_id              1091187 non-null  object
 4   product_name            1091187 non-null  object
 5   category                1091187 non-null  object
 6   subcategory             1091187 non-null  object
 7   brand                   1091187 non-null  object
 8   original_price_inr      1091187 non-null  float64
 9   discount_percent        1091187 non-null  float64
 10  discounted_price_inr    1091187 non-null  float64
 11  quantity                1091187 non-null  int64
 12  subtotal_inr            1091187 non-null  float64
 13  delivery_charges        1091187 non-null  float64
 14  final_amount_inr        1091187 non-null  float64
 15  customer_city           1091187 non-null  object
 16  customer_state          1091187 non-null  object
 17  customer_tier           1091187 non-null  object
 18  customer_spending_tier  1091187 non-null  object
 19  customer_age_group      1091187 non-null  object
 20  payment_method          1091187 non-null  object
 21  delivery_days           1091187 non-null  float64
 22  delivery_type           1091187 non-null  object
 23  is_prime_member         1091187 non-null  bool
 24  is_festival_sale        1091187 non-null  bool
 25  festival_name           1091187 non-null  object
 26  customer_rating         1091187 non-null  float64
 27  return_status           1091187 non-null  object
 28  order_month             1091187 non-null  int64
 29  order_year              1091187 non-null  int64
 30  order_quarter           1091187 non-null  int64
 31  product_weight_kg       1091187 non-null  float64
 32  is_prime_eligible       1091187 non-null  bool
 33  product_rating          1091187 non-null  float64
dtypes: bool(3), float64(10), int64(4), object(17)
memory usage: 261.2+ MB

In [16]:
from sqlalchemy import create_engine

In [ ]:
db_user = "root"
db_password = "Keerthick2300$"
db_host = "localhost"
db_name = "amazon_india_analytics"
engine = create_engine(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}")
engine.connect()

In [ ]:
customers_df = df[[
    'customer_id',
    'customer_city',
    'customer_state',
    'customer_tier',
    'customer_spending_tier',
    'customer_age_group',
    'is_prime_member'
]]

customers_df.to_sql('customers', engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'CUST_2015_00004611' for key 'customers.PRIMARY'")
[SQL: INSERT INTO customers (customer_id, customer_city, customer_state, customer_tier, customer_spending_tier, customer_age_group, is_prime_member) VALUES (%(customer_id)s, %(customer_city)s, %(customer_state)s, %(customer_tier)s, %(customer_spending_tier)s, %(customer_age_group)s, %(is_prime_member)s)]
[parameters: [{'customer_id': 'CUST_2015_00003884', 'customer_city': 'mumbai', 'customer_state': 'Maharashtra', 'customer_tier': 'Metro', 'customer_spending_tier': 'Premium', 'customer_age_group': '46-55', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00011709', 'customer_city': 'allahabad', 'customer_state': 'Uttar Pradesh', 'customer_tier': 'Rural', 'customer_spending_tier': 'Standard', 'customer_age_group': '26-35', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00004782', 'customer_city': 'mumbai', 'customer_state': 'Maharashtra', 'customer_tier': 'Metro', 'customer_spending_tier': 'Premium', 'customer_age_group': '26-35', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00008105', 'customer_city': 'kolkata', 'customer_state': 'West Bengal', 'customer_tier': 'Metro', 'customer_spending_tier': 'Budget', 'customer_age_group': '36-45', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00002955', 'customer_city': 'ludhiana', 'customer_state': 'Punjab', 'customer_tier': 'Tier2', 'customer_spending_tier': 'Standard', 'customer_age_group': '18-25', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00006757', 'customer_city': 'delhi', 'customer_state': 'Delhi', 'customer_tier': 'Metro', 'customer_spending_tier': 'Standard', 'customer_age_group': '18-25', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00008012', 'customer_city': 'lucknow', 'customer_state': 'Uttar Pradesh', 'customer_tier': 'Tier1', 'customer_spending_tier': 'Premium', 'customer_age_group': '46-55', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00011809', 'customer_city': 'jaipur', 'customer_state': 'Rajasthan', 'customer_tier': 'Tier1', 'customer_spending_tier': 'Standard', 'customer_age_group': '26-35', 'is_prime_member': 0}  ... displaying 10 of 1127609 total bound parameter sets ...  {'customer_id': 'CUST_2025_00000199', 'customer_city': 'delhi', 'customer_state': 'Delhi', 'customer_tier': 'Metro', 'customer_spending_tier': 'Premium', 'customer_age_group': '46-55', 'is_prime_member': 0}, {'customer_id': 'CUST_2025_00019685', 'customer_city': 'jaipur', 'customer_state': 'Rajasthan', 'customer_tier': 'Tier1', 'customer_spending_tier': 'Standard', 'customer_age_group': '18-25', 'is_prime_member': 1}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [18]:
df[df["customer_id"] == "CUST_2015_00004611"].head()

,transaction_id,order_date,customer_id,product_id,product_name,category,subcategory,brand,original_price_inr,discount_percent,...,is_festival_sale,festival_name,customer_rating,return_status,order_month,order_year,order_quarter,product_weight_kg,is_prime_eligible,product_rating
65,TXN_2015_00000067,2015-01-13,CUST_2015_00004611,PROD_001612,Apple Pavilion 8GB RAM Silver,electronics,Laptops,Apple,51356.92,0.00,...,False,No Festival,5.0,Delivered,1,2015,1,2.69,True,3.7
121,TXN_2015_00000125,2015-01-01,CUST_2015_00004611,PROD_000004,Apple iPhone 6 16GB White,electronics,Smartphones,Apple,192381.14,16.06,...,False,No Festival,3.5,Delivered,1,2015,1,0.21,True,4.1
406,TXN_2015_00000423,2015-01-03,CUST_2015_00004611,PROD_000031,Samsung Galaxy S6 Edge 64GB Black,electronics,Smartphones,Samsung,86987.64,0.00,...,False,No Festival,4.5,Delivered,1,2015,1,0.16,False,3.7
18827,TXN_2015_00019475,2015-08-14,CUST_2015_00004611,PROD_000014,Apple iPhone 6 Plus 64GB White,electronics,Smartphones,Apple,169544.40,0.00,...,False,No Festival,4.0,Delivered,8,2015,3,0.20,True,4.6
21181,TXN_2015_00021905,2015-09-23,CUST_2015_00004611,PROD_001671,Alienware Ultrabook 4GB RAM Black,electronics,Laptops,Alienware,107387.37,64.01,...,True,Amazon Great Indian Festival,4.5,Delivered,9,2015,3,2.33,True,4.7

In [19]:
customers_df = df[[
    'customer_id',
    'customer_city',
    'customer_state',
    'customer_tier',
    'customer_spending_tier',
    'customer_age_group',
    'is_prime_member'
]].drop_duplicates()

customers_df.to_sql('customers', engine, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'CUST_2015_00008913' for key 'customers.PRIMARY'")
[SQL: INSERT INTO customers (customer_id, customer_city, customer_state, customer_tier, customer_spending_tier, customer_age_group, is_prime_member) VALUES (%(customer_id)s, %(customer_city)s, %(customer_state)s, %(customer_tier)s, %(customer_spending_tier)s, %(customer_age_group)s, %(is_prime_member)s)]
[parameters: [{'customer_id': 'CUST_2015_00003884', 'customer_city': 'mumbai', 'customer_state': 'Maharashtra', 'customer_tier': 'Metro', 'customer_spending_tier': 'Premium', 'customer_age_group': '46-55', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00011709', 'customer_city': 'allahabad', 'customer_state': 'Uttar Pradesh', 'customer_tier': 'Rural', 'customer_spending_tier': 'Standard', 'customer_age_group': '26-35', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00004782', 'customer_city': 'mumbai', 'customer_state': 'Maharashtra', 'customer_tier': 'Metro', 'customer_spending_tier': 'Premium', 'customer_age_group': '26-35', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00008105', 'customer_city': 'kolkata', 'customer_state': 'West Bengal', 'customer_tier': 'Metro', 'customer_spending_tier': 'Budget', 'customer_age_group': '36-45', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00002955', 'customer_city': 'ludhiana', 'customer_state': 'Punjab', 'customer_tier': 'Tier2', 'customer_spending_tier': 'Standard', 'customer_age_group': '18-25', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00006757', 'customer_city': 'delhi', 'customer_state': 'Delhi', 'customer_tier': 'Metro', 'customer_spending_tier': 'Standard', 'customer_age_group': '18-25', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00008012', 'customer_city': 'lucknow', 'customer_state': 'Uttar Pradesh', 'customer_tier': 'Tier1', 'customer_spending_tier': 'Premium', 'customer_age_group': '46-55', 'is_prime_member': 0}, {'customer_id': 'CUST_2015_00011809', 'customer_city': 'jaipur', 'customer_state': 'Rajasthan', 'customer_tier': 'Tier1', 'customer_spending_tier': 'Standard', 'customer_age_group': '26-35', 'is_prime_member': 0}  ... displaying 10 of 444978 total bound parameter sets ...  {'customer_id': 'CUST_2025_00012274', 'customer_city': 'mumbai', 'customer_state': 'Maharashtra', 'customer_tier': 'Metro', 'customer_spending_tier': 'Premium', 'customer_age_group': '46-55', 'is_prime_member': 1}, {'customer_id': 'CUST_2024_00011211', 'customer_city': 'saharanpur', 'customer_state': 'Uttar Pradesh', 'customer_tier': 'Rural', 'customer_spending_tier': 'Budget', 'customer_age_group': '18-25', 'is_prime_member': 0}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [22]:
customers_df = df[[
    'customer_id',
    'customer_city',
    'customer_state',
    'customer_tier',
    'customer_spending_tier',
    'customer_age_group',
    'is_prime_member'
]].drop_duplicates(subset=['customer_id'])

customers_df.to_sql('customers', engine, if_exists='append', index=False)

351840

In [23]:
products_df = df[[
    'product_id',
    'product_name',
    'category',
    'subcategory',
    'brand',
    'product_weight_kg',
    'product_rating',
    'is_prime_eligible'
]].drop_duplicates(subset=['product_id'])

products_df.to_sql('products', engine, if_exists='append', index=False)

2004

In [24]:
time_df = df[[
    'order_date',
    'order_month',
    'order_year',
    'order_quarter'
]].drop_duplicates(subset=['order_date'])

time_df.to_sql('time_dimension', engine, if_exists='append', index=False)

4015

In [25]:
transactions_df = df[[
    'transaction_id',
    'customer_id',
    'product_id',
    'order_date',
    'quantity',
    'original_price_inr',
    'discount_percent',
    'discounted_price_inr',
    'subtotal_inr',
    'delivery_charges',
    'final_amount_inr',
    'payment_method',
    'delivery_days',
    'delivery_type',
    'is_festival_sale',
    'festival_name',
    'customer_rating',
    'return_status'
]]

transactions_df.to_sql('transactions', engine, if_exists='append', index=False)

1091187